ul#nav-mobile.right
  //
    li
      a.btn-floating.waves-effect.waves-light.blue
        i.material-icons view_module
    li
      a.btn-floating.waves-effect.waves-light.pink
        i.material-icons library_add
    li
      a#fullWork.btn-floating.waves-effect.waves-light.blue
        i.mdi-action-view-module(title="全屏")
  li
    a.btn-floating.waves-effect.waves-light.amber(href="/workspace",target="_blank")
      i.mdi-action-note-add(title="新建")
  li
    a#runBtn.btn-floating.waves-effect.waves-light.green
      i.mdi-av-play-arrow(title="运行")
